<!DOCTYPE html>
<!-- in views/users.ejs -->
<html>
  <head>
    <title>Successful authentication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome <em><%= name %></em></h1>
    <p>You signed in with a token for this audience: <em><%= aud %></em></p>
  </body>
</html>